:root {
    background-color: #eeeeee;
    color: rgb(69, 69, 69);
    padding: 20px;
}

.page {
    position: relative;
    margin: 20px;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.sidenav {
    height: calc(100% - 40px);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 32px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav :is(h1, h2, h3, p) {
    color: #f1f1f1;
    margin: 0px;
    padding: 10px 8px 8px 8px;
}

.sidenav h1 {
    padding: 30px 8px 8px 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.openMenuButton {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 30px;
    width: 150px;
    cursor: pointer;
    text-align: center;
}

.CellWithComment {
    position: relative;
}

.CellComment {
    display: none;
    font-size: 12px;
    width: 125px;
    overflow-x: visible;
    position: absolute;
    left: 150px;
    bottom: 0px;
    z-index: 100;
    border: 1px;
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: eeeeee;
    padding: 3px;
    color: f1f1f1;
}

.CellWithComment:hover span.CellComment {
    display: block;
}
.dropdown-container {
  display: none;
  background-color: 262626;
  padding-left: 0px;
}
/*Resources*/
.dropdown-btn-resource {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: green;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn-resource:hover {
    color: #7cfc84;
}
.active-resource {
  background-color: green;
  color: #7cfc84;
}

.dropdown-container-resource {
  display: none;
  background-color: #262626;
  padding-left: 0px;
}

/*Attacking*/
.dropdown-btn-attack {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: red;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn-attack:hover {
    color:#f0170c;
}
.active-attack {
  background-color: red;
  color:#f0170c;
}

.dropdown-container-attack {
  display: none;
  background-color: #262626;
  padding-left: 0px;
}

/*Defense*/
.dropdown-btn-defense {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn-defense:hover {
    color:#b3bdf5;
}
.active-defense {
  background-color: blue;
  color:#b3bdf5;
}

.dropdown-container-defense {
  display: none;
  background-color: #262626;
  padding-left: 0px;
}

/*Special*/
.dropdown-btn-special {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: purple;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn-special:hover {
    color:#e389f5;
}
.active-special {
  background-color: purple;
  color:#e389f5;
}

.dropdown-container-special {
  display: none;
  background-color: #262626;
  padding-left: 0px;
}

/*General*/
.dropdown-btn-general {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn-general:hover {
    color: #f1f1f1;
}
.active-general {
  background-color: gray;
  color: #f1f1f1;
}

.dropdown-container-general {
  display: none;
  background-color: #262626;
  padding-left: 0px;
}

.fa-caret-down {
  float: right;
}

#achievement_ui td {
    color: #f1f1f1;
    height: 30px;
}

#achievement_ui {
    padding: 0px 10px;
    width: 100%;
}

#move_input {
    padding: 20px;
}

#game_state {
    width: 70%;
}