<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>War</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js">
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        </script>
    </head>
    <body>
        <div id="login">
            <h1>Stinky</h1>
            <input type="text" id="player_id" placeholder="Enter Player ID">
            <button type="button" id="create_room">Create Room</button>
            <h2>Available Rooms</h2>
            <button type="button" id="refresh_rooms">Refresh Rooms</button>
            <ul id="rooms_list">
                <!-- List of rooms will be dynamically updated here -->
            </ul>
        </div>
        <div id="room" style="display: none;">
            <h1 id="current_room"></h1>
            <button type="button" id="leave_room">Leave Room</button>
            <button type="button" id="start_game" disabled>Start</button>
            <ul id="player_list">
                <!-- List of users will be dynamically updated here -->
            </ul>
        </div>
        <div id="game" style="display: none;">
            <div style="padding: 20px;">
                <label for="move_list">Input Moves</label>
                <input type="text" id="move_list">
                <label for="move_target">Target</label>
                <input type="text" id="move_target">
                <button type="button" id="submit_move">Submit</button>
            </div>
            <table id="game_state" style="width: 70%;">
                <thead>
                    <tr>
                      <th>Player</th>
                      <th>Charges</th>
                      <th>Blocks</th>
                      <th>Magical Shards</th>
                      <th>Fumes</th>
                      <th>Doubles</th>
                      <th>Pew-Charge</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
            </table>
        </div>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>
