{% extends 'base.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js">
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
</script>
<div class="page" id="login">
  <h1>Join a Room</h1>
  <p id="player_id"></p>
  <button type="button" id="create_room">Create Room</button>
  <h2>Available Rooms</h2>
  <button type="button" id="refresh_rooms">Refresh Rooms</button>
  <ul id="rooms_list">
      <!-- List of rooms will be dynamically updated here -->
  </ul>
</div>
<div class="page" id="room" style="display: none;">
  <h1 id="current_room"></h1>
  <button type="button" id="leave_room">Leave Room</button>
  <button type="button" id="start_game" disabled>Start</button>
  <ul id="player_list">
      <!-- List of users will be dynamically updated here -->
  </ul>
</div>
<div class="page" id="game" style="display: none;">
  <div>
      <h1 style="display: inline;" id="round_number"></h1>
      <!--Open Menu -->
      <span class="openMenuButton" onclick="openNav()">&#9776; Menu</span>
      <!--The Menu -->
      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#" onclick="openRules()">Rules</a>
          <a href="#" onclick="openMoveInfo()">Move Catalog</a>
          <a href="#" onclick="openAchievements()">Achievements</a>
          <a href="#" onclick="openStats()">Stats</a>
          <a href="#" onclick="openContacts()">Contacts</a>
      </div>
      <!--Rules -->
      <span id="Rules" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeRules()">&times;</a>
          <h1> Rules </h1>
          <h2> Introduction: </h2>
          <p> 
              War was originally a round-based game in which players of our friend group would utilize hand gestures to indicate moves.
              Based on everyone's move, knowledge of the game's interactions were used to determine the outcomes and ultimately, the victors.
              However, as time has gone on and we have moved apart, such games have been difficult to continue.
              So, we have created an online version to strengthen our coding capabilities and for the ability to play regardless of distance.
          </p>
          <h2> The Objective: </h2>
          <p> 
              Each round, players will submit a move (and a target if required).
              These moves may include acquiring <span style="color:#7cfc84">resources</span>, <span style="color:#ff879d">attacking</span> players, or <span style="color:#b3bdf5">shielding/deflecting</span> attacks. 
              The game is played until one player remains or until none are left standing.
          </p>
          <h2> Types of Moves: </h2>
          <h3> Neutral:  </h3>
          <p>
              Neutral moves are not directed at any specific player, hence the effects of the move apply to all players or no player. 
              Note that this does not mean that you do not interact with other players. 
              Neutral moves typically serve the purpose of either collecting resources or shielding against damage. 
              <br>
              <br><span style="font-size: 13px" >Ex. <span style="color:#7cfc84">Charge</span> gives the player one charge resources<br>
              <br>Ex. <span style="color:#b3bdf5">Reflect</span> redirects an enemy’s attack back at them. </span><br>

              <br>Neutral moves are not combinable unless specified.<br> 
              <br><span style="font-size: 13px" >Ex. <span style="color:#7cfc84">Charge</span> - <span style="color:#b3bdf5">Reflect</span> is an invalid move.</span>
          </p>
          <h3> Attacking:  </h3>
          <p>
              Attacking moves are always attacks directed at a specific player. 
              This attack interacts directly with the targetted player, and only the targeted player.
              <br>
              <br><span style="font-size: 13px" >Ex. Player A and Player B use <span style="color:#7cfc84">Charge</span>.<br> 
              Player C uses <span style="color:#ff879d">Pew</span> on Player A. 
              Player B still lives.</span><br>
              
              <br><span style="font-size: 13px" >Ex. Player A and Player B use <span style="color:#ff879d">Pew</span> on each other. Player C uses <span style="color:#ff879d">Pew</span> on Player A. 
              <br>A and B's attacks cancel out, but Player C still defeats Player A.</span><br>
              
              <br>Attacking moves can always be combined (unless specified).
              Even though multiple weapons may be used, there may still only be one target.<br>
              <br><span style="font-size: 13px" >Ex. <span style="color:#ff879d">Sniper - Pew</span> is a valid move</span>
          </p>
          <h2> Interactions: </h2>
          
          <h3>Attack vs. Block: </h3>
          <p>
          If the attack’s damage is higher than the shield value of the block, the blocking player dies.
          Otherwise, the blocking player survives
          </p>
          <h3>Attack vs. Attack: </h3>
          <p>
          The player with the higher damage defeats the player with lower damage.
          If they are equal, neither player is victorious and play continues.
          </p>

          <h2> The Set-Up: </h2>
          <p>
              All players begin with no resources except for a pew-charge. 
              This can be used up any time during the game. 
              As the name implies, a pew is combined with a charge, hence the player chooses a player to attack with one damage, while simultaneously gaining a charge. 
              This is the only way a player can attack and gain resources at the same time. 
          </p>
      </span>
      <!--Move Info -->
      <span id="MoveInfo" class="sidenav" style="scrollbar-gutter: stable;">
          <a href="javascript:void(0)" class="closebtn" onclick="closeMoveInfo()">&times;</a>
          <h1> Move Manual </h1>
          <p> Now it may seem like there are a lot of moves, and a lot of information to handle.
          However, think of it to be similar to a chess game. Instead of piece values, you have the cost of each move.
          And instead of where chess pieces can go, it's what the weapon can do.
          Whatever the case, learning how to play war should be quick.
          The hardest part will be learning to strategize around your opponents.
          <br><br>
          To help with organization...<br><br>
          <span style="font-size: 18px">Resources</span> shall be in <span style="color:#7cfc84">green</span><br>
          <span style="font-size: 18px">Attacks</span> shall be in <span style="color:#ff879d">red</span><br>
          <span style="font-size: 18px">Shielding/Defense</span> shall be in <span style="color:#b3bdf5">blue</span><br>
          and <span style="font-size: 18px">Rare Special</span> moves shall be in <span style="color:#e389f5">purple</span><br>
          </p>
          
          <button class="dropdown-btn-resource">Block 
            <span class="fa fa-caret-down"></span>
          </button>
          <div class="dropdown-container-resource">
            <p>
            Block is the first of two fundamental resources that players will use.
            It is the standard move as it provides the player with the block resource while offering a 1.5 strength shield.
            When in doubt, block is your trusty friend!
            <br><br>
            Cost: N/A<br>
            Resources: <span style="color:#7cfc84">+1 Block</span><br>
            Target Type: Neutral<br>
            Shield: <span style="color:#b3bdf5">1.5</span>
            </p>
          </div>
          <br>
          
          <button class="dropdown-btn-resource">Charge 
            <span class="fa-caret-down"></span>
          </button>
          <div class="dropdown-container-resource">
            <p>
            Charge is the second of two fundamental resources that players will use.
            The charge resource generally allows the player to use stronger weapons than the block resource.
            However, acquiring charges is riskier as the charge move leaves the player vulnerable to attacks.
            So use charge wisely.
            <br><br>
            Cost: N/A<br>
            Resources: <span style="color:#7cfc84">+1 Charge</span><br>
            Target Type: Neutral<br>
            Shield: <span style="color:#b3bdf5">0</span>
            </p>
          </div>
          <br>
          
          <button class="dropdown-btn-general">Moves that use <span style="color:#7cfc84">Block</span> 
            <span class="fa fa-caret-down"></span>
          </button>
          <div class="dropdown-container-general">
            
            <br>
            <p>There are 3 things that can be bought with 2 blocks, forming something like a rock-paper-scissors relationship.</p>
            <br>
            
            <button class="dropdown-btn-attack">Bazooka 
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-attack">
              <p>
              Bazooka is the first of three, beating Sniper and getting snuffed out by Smoke.
              <br><br>
              Cost: <span style="color:#7cfc84">-2 Blocks</span><br>
              Target Type: Single<br>
              Damage: <span style="color:#ff879d">2</span><br>
              </p>
            </div>
            <br>
            
            <button class="dropdown-btn-attack">Sniper
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-attack">
              <p>
              Sniper is the second of three, seeing through Smoke and getting overpowered by Bazooka.
              <br><br>
              Cost: <span style="color:#7cfc84">-2 Blocks</span><br>
              Target Type: Single<br>
              Damage: <span style="color:#ff879d">1.5</span><br>
              <br>
              Effect: Requires 3+ smokes to be snuffed out.
              </p>
            </div>
            <br>
            
            <button class="dropdown-btn-general">Smoke / Smoke-Machine
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-general">
              
              <button class="dropdown-btn-defense">Smoke 
                <span class="fa fa-caret-down"></span>
              </button>
              <div class="dropdown-container-defense">
                <p>
                Smoke is the final of the three, snuffing out Bazooka and unable to hide against snipers.
                <br><br>
                Cost: <span style="color:#7cfc84">-2 Blocks</span><br>
                Resources: <span style="color:#7cfc84">+1 Fume</span><br>
                Target Type: Neutral<br>
                Shield: <span style="color:#b3bdf5">0</span><br>
                <br>
                Smoke Cloud: Snuffs out most weapons*<br>
                <br>
                *Sniper: Requires 3 smokes<br>
                *Ghostgun: Can't be smoked
                </p>
              </div>
              <br>
              
              <button class="dropdown-btn-attack">Smoke-Machine
                  <span class="fa fa-caret-down"></span>
              </button>
              <div class="dropdown-container-attack">
                <p>
                Smoke-Machine can be purchased with fumes [produced by smoke].
                It is the only attacking move with the "neutral" target type.
                <br><br>
                Cost: <span style="color:#7cfc84">-2 Fumes</span><br>
                Target Type: Neutral<br>
                Damage: <span style="color:#ff879d">1</span><br>
                <br>
                Modified Smoke Cloud: Smoke-Machine almost has the same effect as Smoke*, however it does not smoke out other smoke machines (unlike smoke)
                <br><br>
                Suffocation: Deal 1 damage to <b>all</b> players (can be blocked by shields, but not redirected).<br><br>
                <br>
                *See Smoke's Effect: Smoke Cloud
                </p>
              </div>
            </div>  
          </div>
          <br>
          
          <button class="dropdown-btn-general">Moves that use <span style="color:#7cfc84">Charge</span> 
            <span class="fa fa-caret-down"></span>
          </button>
          <div class="dropdown-container-general">
          
            <button class="dropdown-btn-attack">Pew 
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-attack">
              <p>
              Pew. Just a little baby gun. Quite literally the least damage you can do, but hey, it can win games.
              Not to mention you can add it to your other weapons for the cost of only one charge!
              The default gun may be small, but it can make the difference between suffering defeat and rising to glorious victory.
              <br><br>
              Cost: <span style="color:#7cfc84">-1 Charge</span><br>
              Target Type: Single<br>
              Damage: <span style="color:#ff879d">1</span><br>
              </p>
            </div>
            <br>
            
            <button class="dropdown-btn-attack">Flaming
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-attack">
              <p>
              Flaming is like pew's older sibling. Costs an additional charge, and does an additional damage. Simple!
              <br><br>
              Cost: <span style="color:#7cfc84">-2 Charges</span><br>
              Target Type: Single<br>
              Damage: <span style="color:#ff879d">2</span><br>
              </p>
            </div>
            <br>
            
            <button class="dropdown-btn-attack">Ghostgun
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-attack">
              <p>
              Now ghostgun is a bit different. Kind of like a weird cousin.
              Not only can it not be combined with other weapons, but it also gets cancelled out by enemy weapons AND ignores enemy shields.
              <br>Strange.
              <br><br>
              Cost: <span style="color:#7cfc84">-2 Charges</span><br>
              Target Type: Single<br>
              Damage: <span style="color:#ff879d">1</span><br>
              <br>
              Phase-Shift: Ghostgun travels through enemy shields*.<br><br>
              Dispersion: Ghostgun bullets are dispersed by enemy fire, mitigating any impact from ghostgun.<br><br>
              Supernatural-ly isolated: Ghostgun can not be used with other weapons.<br>
              <br>
              *Phase-Shift does not work on Portal
              </p>
            </div>
            <br>
            
            <button class="dropdown-btn-general">Reflect / Portal
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-general">
              
              <button class="dropdown-btn-defense">Reflect 
                <span class="fa fa-caret-down"></span>
              </button>
              <div class="dropdown-container-defense">
                <p>
                Smoke and mirrors is a saying or something, right? Not sure what the relevance is but woo, reflect!
                Have you ever been excited by predicting your enemies with a nice block or smoke, but inflicted with disappointment upon seeing their survival?
                Well don't fret because now you can get the job done yourself!
                <br><br>
                Cost: <span style="color:#7cfc84">-1 Charge</span><br>
                Resources: <span style="color:#7cfc84">+1 Magical Shard</span><br>
                Target Type: Neutral<br>
                Shield: <span style="color:#b3bdf5">inf</span><br>
                <br>
                Bouncy: Returns the enemy's bullets*<br>
                <br>
                *Ghostgun will bypass this effect.
                </p>
              </div>
              <br>
              
              <button class="dropdown-btn-defense">Portal
                  <span class="fa fa-caret-down"></span>
              </button>
              <div class="dropdown-container-defense">
                <p>
                So, ghostgun getting through your defenses? How about opening a portal behind enemy lines to send the bullets right back?
                Portal's got you covered.
                <br><br>
                Cost: <span style="color:#7cfc84">-3 Magical Shards</span><br>
                Target Type: Neutral<br>
                Shield: <span style="color:#b3bdf5">inf</span><br>
                <br>
                Rift-Returnal: Send any bullet back to the sender.
                </p>
              </div>
            </div>
            <br>
              
            <button class="dropdown-btn-general">Invincible / Unbreakable
              <span class="fa fa-caret-down"></span>
            </button>
            <div class="dropdown-container-general">
              
              <button class="dropdown-btn-defense">Invincible 
                <span class="fa fa-caret-down"></span>
              </button>
              <div class="dropdown-container-defense">
                <p>
                Invincible: a stronger block. It costs charges so it's gonna make you as close to being invincible as you're gonna get.
                Why does it give you a resource for attacking? Well, of course, offense is the best defense.
                <br><br>
                Cost: <span style="color:#7cfc84">-2 Charges</span><br>
                Resources: <span style="color:#7cfc84">+1 Double</span><br>
                Target Type: Neutral<br>
                Shield: <span style="color:#b3bdf5">3</span><br>
                <br>
                Smoke Cloud: Snuffs out most weapons*<br>
                <br>
                *Sniper: Requires 3 smokes<br>
                *Ghostgun: Can't be smoked
                </p>
              </div>
              <br>
              
              <button class="dropdown-btn-attack">Unbreakable
                  <span class="fa fa-caret-down"></span>
              </button>
              <div class="dropdown-container-attack">
                <p>
                The highest damaging weapon. What happens when an unbreakable force meets an invincible object... 0-0
                <br><br>
                Cost: <span style="color:#7cfc84">-1 Double</span><br>
                Target Type: Neutral<br>
                Damage: <span style="color:#ff879d">3</span><br>
                </p>
              </div>
            </div>  
          </div>
          
          <br>
          <button class="dropdown-btn-special">Disable</span> 
            <span class="fa fa-caret-down"></span>
          </button>
          <div class="dropdown-container-special">
            <p>
            Wanna mess with your friends? Or perhaps people are using reflect too often? Well you can stop them...at a price.
            Cost: <span style="color:#7cfc84">-2 Charges, -2 Blocks</span><br>
            Target Type: Neutral<br>
            <br>
            Disable: Any moves done during this round can not be used for the rest of the game.
            </p>
          </div>
          
      </span>
      <!--Achievements -->
      <span id="Achievements" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeAchievements()">&times;</a>
          <h1> Achievements </h1>
          <table id="achievement_ui">
            <colgroup>
                <col span="1" style="width: 60%;">
                <col span="1" style="width: 40%;">
            </colgroup>
            <tbody></tbody>
          </table>
      </span>
      <!--Stats -->
      <span id="Stats" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeStats()">&times;</a>
          <h1> Player Stats </h1>
          <table id="stats_ui">
            <colgroup>
                <col span="1" style="width: 60%;">
                <col span="1" style="width: 40%;">
            </colgroup>
            <tbody></tbody>
          </table>
      </span>
      <!--Contacts -->
      <span id="Contacts" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeContacts()">&times;</a>
          <h1> Contacts </h1>
          <br><br>
          <h2> Wilde Chu</h2>
          <!--<a style="font-size:18px" href= "mailto: name@email.com"> Insert Email Here </a>-->
          <br>
          <h2> Curvedrain </h2>
          <a style="font-size:18px" href= "mailto: name@email.com"> curvedrain@email.com </a>
      </span>
  </div>
  <script>
  </script>
  <div id="move_input">
      <label for="move_list">Input Moves</label>
      <input type="text" id="move_list">
      <label for="move_target">Target</label>
      <input type="text" id="move_target">
      <button type="button" id="submit_move">Submit</button>
  </div>
  <table id="game_state">
      <thead>
          <tr>
            <th>Player</th>
            <th>Charges</th>
            <th>Blocks</th>
            <th>Magical Shards</th>
            <th>Fumes</th>
            <th>Doubles</th>
            <th>Pew-Charge</th>
            <th>Last Move</th>
          </tr>
        </thead>
        <tbody></tbody>
  </table>
</div>
<script src="{{url_for('static', filename='index.js')}}"></script>
<script src="{{url_for('static', filename='sidebar.js')}}"></script>
{% endblock %}
