<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>War</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js">
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        </script>
    </head>
    <body>
        <div id="login">
            <h1>Stinky</h1>
            <button type="button" id="button1">Join 1</button>
            <ul id="roomList">
                <!-- List of rooms will be dynamically updated here -->
            </ul>
        </div>
        <div id="room" style="display: none;">
            <h1 id="roomTitle"></h1>
            <ul id="userList">
                <!-- List of users will be dynamically updated here -->
            </ul>
        </div>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>
